# Proyecto comparación de Outpus de clasificación taxonómica

In [23]:
import pandas as pd 
import numpy as np

In [21]:
# lectura de los datos por medio de pandas
# Se tomaron las 10 primeras lineas de el output de kraken
datakraken10 = pd.read_csv('data/10lineas_kraken',sep='\t',header=None, names=["c-clasificado", "read","taxon_kraken","1","2"])
# Se tomaron las 10 primeras lineas de el output de kaiju
datakaiju10 = pd.read_csv('data/10lineas_kaiju',sep='\t',header=None, names=["c-clasificado", "read","taxon_kaiju"])
# Se tomaron las 10 ultimas lineas de el output de kraken
datakraken10c = pd.read_csv('data/10lineascola_kraken',sep='\t',header=None, names=["c-clasificado", "read","taxon_kraken2","1","2"])
# Se tomaron las 10 ultimas lineas de el output de kaiju
datakaiju10c = pd.read_csv('data/10lineascola_kaiju',sep='\t',header=None, names=["c-clasificado", "read","taxon_kaiju2"])

In [3]:
# Eliminamos las columnas no necesarias
datakraken101 = datakraken10.drop(['c-clasificado','1', '2'], axis=1)
datakaiju101 = datakaiju10.drop(['c-clasificado'], axis=1)
datakraken102 = datakraken10c.drop(['c-clasificado','1','2'], axis=1)
datakaiju102 = datakaiju10c.drop(['c-clasificado'], axis=1)

In [16]:
lOutputs = [datakraken101, datakaiju101, datakraken102, datakaiju102] # lista de dataframes
# Funcion para unir los outputs en un dolo dataframe, tomando como referencia la columna 'read'
def function(lOutputs):
    DFfusion = lOutputs[0]
    for i in lOutputs:
        DFfusion = pd.merge(DFfusion, i, how='outer')
   
    return DFfusion

DFfusion = function(lOutputs)    
DFfusion

,read,taxon_kraken,taxon_kaiju,taxon_kraken2,taxon_kaiju2
0,NB501110:123:H7C3WBGX7:1:11101:9813:1065,547.0,NaN,NaN,NaN
1,NB501110:123:H7C3WBGX7:1:11101:9032:1067,329.0,NaN,NaN,NaN
2,NB501110:123:H7C3WBGX7:1:11101:9958:1067,69218.0,NaN,NaN,NaN
3,NB501110:123:H7C3WBGX7:1:11101:22148:1069,1076549.0,470934.0,NaN,NaN
4,NB501110:123:H7C3WBGX7:1:11101:17061:1072,487316.0,NaN,NaN,NaN
5,NB501110:123:H7C3WBGX7:1:11101:7661:1075,69218.0,NaN,NaN,NaN
6,NB501110:123:H7C3WBGX7:1:11101:3445:1076,1076549.0,NaN,NaN,NaN
7,NB501110:123:H7C3WBGX7:1:11101:9350:1077,487316.0,NaN,NaN,NaN
8,NB501110:123:H7C3WBGX7:1:11101:5326:1077,48736.0,NaN,NaN,NaN
9,NB501110:123:H7C3WBGX7:1:11101:21410:1079,1560356.0,NaN,NaN,NaN
10,NB501110:123:H7C3WBGX7:1:11101:12474:1085,NaN,69218.0,NaN,NaN
11,NB501110:123:H7C3WBGX7:1:11101:19868:1087,NaN,53335.0,NaN,NaN
12,NB501110:123:H7C3WBGX7:1:11101:10733:1094,NaN,69218.0,NaN,NaN
13,NB501110:123:H7C3WBGX7:1:11101:20523:1097,NaN,1224136.0,NaN,NaN
14,NB501110:123:H7C3WBGX7:1:11101:9448:1118,NaN,470934.0,NaN,NaN
15,NB501110:123:H7C3WBGX7:1:11101:21936:1120,NaN,428406.0,NaN,NaN
16,NB501110:123:H7C3WBGX7:1:11101:25518:1127,NaN,329.0,NaN,NaN
17,NB501110:123:H7C3WBGX7:1:11101:22286:1152,NaN,1312959.0,NaN,NaN
18,NB501110:123:H7C3WBGX7:1:11101:6718:1180,NaN,53335.0,NaN,NaN
19,NB501110:123:H7C3WBGX7:4:23612:19211:20386,NaN,NaN,1508507.0,NaN
20,NB501110:123:H7C3WBGX7:4:23612:13340:20390,NaN,NaN,500639.0,NaN
21,NB501110:123:H7C3WBGX7:4:23612:15529:20391,NaN,NaN,0.0,NaN
22,NB501110:123:H7C3WBGX7:4:23612:17695:20392,NaN,NaN,55209.0,NaN
23,NB501110:123:H7C3WBGX7:4:23612:10408:20392,NaN,NaN,69218.0,NaN
24,NB501110:123:H7C3WBGX7:4:23612:11635:20393,NaN,NaN,1378084.0,NaN
25,NB501110:123:H7C3WBGX7:4:23612:16321:20394,NaN,NaN,1378084.0,NaN
26,NB501110:123:H7C3WBGX7:4:23612:9943:20397,NaN,NaN,91347.0,NaN
27,NB501110:123:H7C3WBGX7:4:23612:10288:20398,NaN,NaN,1461261.0,NaN
28,NB501110:123:H7C3WBGX7:4:23612:9387:20400,NaN,NaN,1860097.0,NaN
29,NB501110:123:H7C3WBGX7:4:23612:6870:20251,NaN,NaN,NaN,53335.0
30,NB501110:123:H7C3WBGX7:4:23612:6261:20259,NaN,NaN,NaN,59814.0
31,NB501110:123:H7C3WBGX7:4:23612:20547:20279,NaN,NaN,NaN,91347.0
32,NB501110:123:H7C3WBGX7:4:23612:13993:20311,NaN,NaN,NaN,470934.0
33,NB501110:123:H7C3WBGX7:4:23612:6705:20317,NaN,NaN,NaN,547.0
34,NB501110:123:H7C3WBGX7:4:23612:20381:20331,NaN,NaN,NaN,329.0
35,NB501110:123:H7C3WBGX7:4:23612:20498:20337,NaN,NaN,NaN,547.0
36,NB501110:123:H7C3WBGX7:4:23612:10800:20351,NaN,NaN,NaN,329.0
37,NB501110:123:H7C3WBGX7:4:23612:24681:20365,NaN,NaN,NaN,1076550.0
38,NB501110:123:H7C3WBGX7:4:23612:20267:20379,NaN,NaN,NaN,53335.0

## Tomando la totalidad de los datos

In [17]:
datakraken = pd.read_csv('data/EG1BMAA_kraken',sep='\t',header=None, names=['c-clasificado',"read","taxon_kraken",'1','2']) 
datakaiju = pd.read_csv('data/EG1BMAA_kaiju',sep='\t',header=None, names=['c-clasificado',"read","taxon_kaiju"])

In [18]:
datakrakenall = datakraken.drop(['c-clasificado','1', '2'], axis=1)
datakaijuall = datakaiju.drop(['c-clasificado'], axis=1)

In [20]:
allOutputs = [datakrakenall, datakaijuall] #lista de dataframe
DFfusion = function(allOutputs)    
DFfusion

,read,taxon_kraken,taxon_kaiju
0,NB501110:123:H7C3WBGX7:1:11101:9813:1065,547,1236
1,NB501110:123:H7C3WBGX7:1:11101:9032:1067,329,329
2,NB501110:123:H7C3WBGX7:1:11101:9958:1067,69218,547
3,NB501110:123:H7C3WBGX7:1:11101:22148:1069,1076549,470934
4,NB501110:123:H7C3WBGX7:1:11101:17061:1072,487316,487316
...,...,...,...
10764229,NB501110:123:H7C3WBGX7:4:23612:11635:20393,1378084,91347
10764230,NB501110:123:H7C3WBGX7:4:23612:16321:20394,1378084,1076550
10764231,NB501110:123:H7C3WBGX7:4:23612:9943:20397,91347,53335
10764232,NB501110:123:H7C3WBGX7:4:23612:10288:20398,1461261,1461259
10764233,NB501110:123:H7C3WBGX7:4:23612:9387:20400,1860097,0

In [26]:
DFfusion['measure'] = np.where((DFfusion['taxon_kraken'] == DFfusion['taxon_kaiju']) , 1, np.nan)
DFfusion

,read,taxon_kraken,taxon_kaiju,measure
0,NB501110:123:H7C3WBGX7:1:11101:9813:1065,547,1236,NaN
1,NB501110:123:H7C3WBGX7:1:11101:9032:1067,329,329,1.0
2,NB501110:123:H7C3WBGX7:1:11101:9958:1067,69218,547,NaN
3,NB501110:123:H7C3WBGX7:1:11101:22148:1069,1076549,470934,NaN
4,NB501110:123:H7C3WBGX7:1:11101:17061:1072,487316,487316,1.0
...,...,...,...,...
10764229,NB501110:123:H7C3WBGX7:4:23612:11635:20393,1378084,91347,NaN
10764230,NB501110:123:H7C3WBGX7:4:23612:16321:20394,1378084,1076550,NaN
10764231,NB501110:123:H7C3WBGX7:4:23612:9943:20397,91347,53335,NaN
10764232,NB501110:123:H7C3WBGX7:4:23612:10288:20398,1461261,1461259,NaN
10764233,NB501110:123:H7C3WBGX7:4:23612:9387:20400,1860097,0,NaN